# Development files
.github
.git
.gitignore
*.log
node_modules

# Testing
test/
*.test.js
*.spec.js
coverage/

# IDE files
.vscode/
.idea/
*.sublime-*
.DS_Store

# Build files
.travis.yml
.gitlab-ci.yml
.editorconfig
.eslintrc*
.prettierrc*
.jshintrc
.flowconfig
.babelrc
webpack.config.js
rollup.config.js

# Documentation files not needed in package
docs/
CHANGELOG.md
CONTRIBUTING.md
examples/